* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container {
    /* height: 40rem; */
    width: 30rem;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    margin: 8% auto 0;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    /* justify-content: center; */
    /* border: 2px solid black; */
}

/* .form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem;
} */

/* .form-fields>input {
    height: 2rem;
    padding-left: 5px;
    width: 20rem;
} */

.form-container h1 {
    margin-bottom: 20px;
}

/* button {
    padding: 14px 28px;
    width: 20rem;
    background-color: skyblue;
    font-size: 16px;
} */

/* .signup-btn {
    padding: 14px 28px;
    width: 20rem;
    background-color: skyblue;
    font-size: 16px;
}

.signup-btn-fb */
.input-box {
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 0;
    font-size: 15px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

.signup-btn {
    background-color: #1c8adb;
}

.signup-btn-google {
    background-color: #21afde;
}

hr {
    margin: auto;
    width: 80%;
}

.or {
    width: 30px;
    background: #fff;
    margin: -12px auto 10px;
}

.userBadge {
    margin-top: -50%;
    width: 70px;
}